body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 960px;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 8px;
}

h1 {
  font-size: 30px;
  line-height: 1.4em;
}
h2 {
  font-size: 20px;
}

kbd {
  transform: translate(0, -1px);
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: inherit;
  font-size: 11px;
  line-height: 1.5;
  color: hsl(210,8%,15%);
  text-shadow: 0 1px 0 white;
  background-color: hsl(210,8%,90%);;
  border: 1px solid hsl(210,8%,65%);
  border-radius: 3px;
  box-shadow: 0 1px 1px hsl(210deg 8% 5% / 15%), inset 0 1px 0 0 hsl(0deg 0% 100%);
  overflow-wrap: break-word;
}

.text-center {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

.container video {
  max-width: 100%;
}

.getting-started-button {
  color: inherit;
  line-height: 24px;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: rgba(243, 183, 70, 1);
  padding: 6px 6px;
}

.getting-started-button > *:not(:last-child) {
  margin-right: 4px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .table.container {
    display: block;
    overflow-x: scroll;
  }
}

.try-here {
  width: 400px;
  height: 116px;
  flex-glow: 1;
  font-size: inherit;
  margin: 20px 8px 30px;
}

table {
  overflow-x: scroll;
}

td:nth-child(2n) {
  width: 20px;
  text-align: right;
}

td:nth-child(2n+1) {
  padding-left: 20px;
}
